.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #eeeaeade;
}

.header__logo {
  height: 40px;
  object-fit: contain;
}

.header__icon {
  padding: 20px;
}
